.table-dispetcer {
    width: 100%;
    /* Ширина таблицы */
}

.header-dispetcer {
    width: 90%;
    margin: auto;
}

.empty-li {
    width: 50%;
}

.empty-li2 {
    width: 10%;
}

.empty-li4 {
    width: 40%;
}

#navbar ul {
    display: none;
    background-color: #f90;
    position: absolute;
    top: 100%;
}

#navbar li:hover ul {
    display: block;
}

#navbar,
#navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#navbar {
    height: 50px;
    background-color: rgb(43, 43, 43);
    padding-left: 25px;
    min-width: 470px;
}

#navbar li {
    float: left;
    position: relative;
    height: 100%;
}

#navbar li a {
    display: block;
    padding: 6px;
    width: 148px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.button-login {
    border: none;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgb(43, 43, 43);
    color: #fff;
}

.button-login:hover {
    background-color: #f90;
    color: white;
}

#navbar ul li {
    float: none;
}

#navbar li:hover {
    background-color: #f90;
}

#navbar ul li:hover {
    background-color: #666;
}

.button-login2 {
    border: none;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgb(43, 43, 43);
    color: #fff;
}

.button-login2:hover {
    background-color: #f90;
    color: white;
}